/* You can add global styles to this file, and also import other style files */

app-root,
app-home,
app-component-one,
app-component-two,
app-cool-button {
  border: 2px solid red;
  padding: 1rem;
  margin: 1rem;
  display: block;
}
